<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalentProgrammAdvanced"
        tools:targetApi="31">
        <activity
            android:name=".Ch_24_ViewPager.practice.MainActivity_Ch24"
            android:exported="true" />
        <activity
            android:name=".Ch_23_TabLayout.Homework.activity.MainActivity_Ch23_Homework"
            android:exported="true" />
        <activity
            android:name=".Ch_26_BottomNavigatinView.MainActivity_Ch_26"
            android:exported="false" />
        <activity
            android:name=".Ch_25.MainActivity_Ch_25_Color"
            android:exported="true" />
        <activity
            android:name=".Ch_25.MainActivity_Ch_25"
            android:exported="true" />
        <activity
            android:name=".Ch_23_TabLayout.Practice.MainActivity_Ch_23"
            android:exported="true"
            android:theme="@style/Theme.TalentProgrammAdvanced" />
        <activity
            android:name=".Ch_22_Drawer_Layout.Homework.view.activity.MainActivity_Ch22_Homework"
            android:exported="true" />
        <activity
            android:name=".Ch_22_Drawer_Layout.Practice.MainActivity_Ch_22"
            android:exported="true" />
        <activity
            android:name=".Ch_21_Fragments.Homework.view.MainActivity_Ch_21"
            android:exported="true" />
        <activity
            android:name=".Ch_21_Fragments.Practice.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>